[run]
omit =
    .venv/*         # Virtual Environment
    # Irrelevant files in coverage:
    */managers.py
    */migrations/*
    mysite/wsgi.py
    mysite/asgi.py
    manage.py
    utils/*
    users/backends.py
    parkrowd/*
    manage.py
