[flake8]
extend-exclude = __init__.py,populate_questions_to_rds.py,authemail
ignore = E203, E266, E501, W503, F401
max-line-length = 88
inline-quotes = double
docstring-quotes = double
plugins = flake8-black