{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "singleQuote": false,
  "insertPragma": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "quoteProps": "as-needed"
}