{
    "option_settings": {
        "aws:elasticbeanstalk:container:python": {
            "WSGIPath": "parkrowd.wsgi:application"
        },
        "aws:elasticbeanstalk:application:environment": {
            "DJANGO_SETTINGS_MODULE": "parkrowd.settings",
            "PYTHONPATH": "/var/app/current:$PYTHONPATH",
        },
        "aws:elasticbeanstalk:environment:proxy:staticfiles": {
            "/static": "static"
        }
    }
}
