{
    "container_commands": {
        "01_psql_devel": {
            "command": "sudo yum install postgresql-devel -y"
        },
        "02_migration": {
            "command": "source /var/app/venv/*/bin/activate && python manage.py makemigrations",
            "leader_only": true
        },
        "03_migrate": {
            "command": "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput",
            "leader_only": true
        },
        "04_create_superuser_for_django_admin": {
            "command": "source /var/app/venv/*/bin/activate && python manage.py superuser",
            "leader_only": true
        },
        "05_collect_static": {
            "command": "source /var/app/venv/*/bin/activate && python manage.py collectstatic",
            "leader_only": true
        }
    }
}
