{
    "container_commands": {
        "01_psql_devel": {
            "command": "sudo yum install postgresql-devel -y"
        },
        "02_migration": {
            "command": "python manage.py makemigrations --noinput",
            "leader_only": true
        },
        "03_migrate": {
            "command": "python manage.py migrate --noinput",
            "leader_only": true
        },
        "04_load_map_data": {
            "command": "python manage.py load_map_data",
            "leader_only": true
        },
        "05_collect_static": {
            "command": "python manage.py collectstatic --noinput",
            "leader_only": true
        },
        "06_superuser": {
            "command": "python manage.py superuser",
            "leader_only": true
        }
    }
}
