{% extends "parkrowd/main.html" %}

{% block resources %}
<link href="/static/users/password_reset.css" rel="stylesheet">
{% endblock %}
{% block content %}


<main class="form-password-reset text-center">
  <h1 class="h3 mb-1">Forgot password?</h1>
  <h1 class="h3 mb-3">We got you</h1>
  <div class="mb-3">Enter the email you used to register with us</div>
  <form method="POST">
    {% csrf_token %}
    <div class="form-floating">
      {{ form.email }}
      <label for="email">Email address</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Send Email</button>
  </form>
  <div class="row text-center pt-4">
    <div class="col-12">
      Login <a href="{% url 'users:login' %}">here</a>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col"> {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning pb-1" role="alert">
        <p>{{message | safe }}</p>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      {% for field, error_list in form.errors.items %}
      {% for error in error_list %}
      <div class="alert alert-warning pb-1" role="alert">
        <p>{{error | safe }}</p>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</main>

{% endblock %}