{% extends "parkrowd/main.html" %}

{% load static %}
{% block header %}
<link href="{% static 'users/password_reset_confirm.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<main class="form-password-reset-confirm text-center">
  <h1 class="h3 mb-4">Reset Password</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="form-floating">
      {{ form.new_password1 }}
      <label for="email">Enter new password</label>
    </div>
    <div class="form-floating">
      {{ form.new_password2 }}
      <label for="email">Confirm new password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Reset Password</button>
  </form>
  <div class="row text-center pt-4">
    <div class="col-12">
      Login <a href="{% url 'users:login' %}">here</a>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col"> {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning pb-1" role="alert">
        <p>{{message | safe }}</p>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      {% for field, error_list in form.errors.items %}
      {% for error in error_list %}
      <div class="alert alert-warning pb-1" role="alert">
        <p>{{error | safe }}</p>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
  {% endblock %}
</main>