{% extends "parkrowd/main.html" %} {% block content %}
<div class="container-lg">
  <div class="row mt-4">
    <h2>Verification History</h2>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Verification Id</th>
        <th scope="col">Business Name</th>
        <th scope="col">Business Type</th>
        <th scope="col">Submitted At</th>
        <th scope="col">Updated At</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for verification in user_verification %}
      <tr>
        <td>{{ verification.id }}</td>
        <td>{{ verification.business_name }}</td>
        <td>{{ verification.business_type }}</td>
        <td>{{ verification.submitted_at }}</td>
        <td>{{ verification.updated_at }}</td>
        {% if verification.status == "verified" or verification.status == "cancelled" %}
          <td>{{ verification.status }}</td>
        {% else %}
          <td>{{ verification.status }}
            <a href="#" class="btn btn-outline-secondary" btn-close-color="red" onClick="document.getElementById('cancel-verification').submit()">
              Cancel verfication
          </a>
          <form id="cancel-verification" method="POST" action="{% url 'users:verification-cancel' verification.id%}">
              {% csrf_token %}
              <input type="hidden" />
          </form>
          </td>
        {% endif %}
      </tr>
      {% empty %}
      <p>No verification submitted for this user.</p>
      {% endfor %}
    </tbody>
  </table>
{% if not active_verification %}
  <div class="row">
    <h2>Submit verification</h2>
    <h3>Please fill out ALL feilds</h3>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      <input
        id="username"
        type="text"
        class="form-control"
        name="username"
        value="{{ user.username }}"
      />
    </div>
    <div class="form-group">
      <label for="business_name">Business Name</label>
      <input
        id="business_name"
        type="text"
        class="form-control"
        name="business_name"
      />
    </div>
    <div class="form-group">
      <label for="business_type">Business Type</label>
      <select name="business_type" id="business_type" class="form-control">
        <option value="" selected disabled>
          Please select a business type
        </option>
        <option value="Public Parking Lot Owner">
          Public Parking Lot Owner
        </option>
        <option value="Private Parking Lot Owner">
          Private Parking Lot Owner
        </option>
        <option value="Street Business Owner">Street Business Owner</option>
      </select>
    </div>
    <div class="form-group">
      <label for="business_address">Business Address</label>
      <input
        id="business_address"
        type="text"
        class="form-control"
        name="business_address"
      />
    </div>
    <div class="form-group">
      <label for="uploaded_file"
        >Upload Documentation(Supported file types: "pdf", "doc", "docx", "png",
        "jpg", "jpeg")</label
      >
      <input id="uploaded_file" type="file" name="uploaded_file" />
    </div>
    <div class="row justify-content-end py-4">
      <div class="col-md-1">
        <button type="submit" class="btn btn-primary mx-4">Submit</button>
      </div>
    </div>
  </form>
  {% endif %}
</div>
{% endblock %}
