html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-password-reset-confirm {
    width: 100%;
    max-width: 380px;
    padding: 15px;
    margin: auto;
}

.form-password-reset-confirm .form-floating:focus-within {
    z-index: 2;
}

.form-password-reset-confirm input[name="new_password1"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-password-reset-confirm input[name="new_password2"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
