{% extends "parkrowd/main.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-center py-4">
    <div class="col-md-9">
      {% if error %}
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p>Something went wrong with your create spot request and it could not be completed now.</p>
        <hr>
        <p class="mb-0">{{ error }}</p>
      </div>
      {% endif %}
      <h3 class="text-center">New Post</h3>
      <form method="post">
        {% csrf_token %}
        <!-- Currently unused
        <div class="form-group py-1">
          <label for="address_zip">Zip Code</label>
          {{ form.address_zip }}
        </div>
        -->
        <div class="form-group py-1">
          <label for="parking_spot_name">Spot Name</label>
          {{ form.parking_spot_name }}
        </div>
        <div class="form-group py-1">
          <label for="type">Type</label>
          <select name="type" id="type" class="form-control">
            <option value="" selected disabled>
              Select a Parking Space type...
            </option>
            <option value="Business">
              Business
            </option>
            <option value="Street">
              Street
            </option>
            {% if user_verification.status == 'verified' and user_verification.business_type == 'Private Parking Lot Owner'%}
            <option value="Private">
              Private
            </option>
            {% endif %}
          </select>
        </div>
        <div class="form-group py-1">
          <label for="borough">Borough</label>
          <select name="borough" id="borough" class="form-control">
            <option value="" selected disabled>
              Select a borough...
            </option>
            <option value="Manhattan">
              Manhattan
            </option>
            <option value="Brooklyn">
              Brooklyn
            </option>
            <option value="Queens">
              Queens
            </option>
            <option value="Bronx">
              Bronx
            </option>
            <option value="Staten Island">
              Staten Island
            </option>
          </select>
        </div>
        <div class="form-group py-1">
          <label for="vehicle_spaces_capacity">Vehicle Spaces Capacity</label>
          {{ form.vehicle_spaces_capacity }}
      </div>
        <div class="form-group py-1">
            <label for="detail">Details</label>
            {{ form.detail }}
        </div>
        <div class="form-group py-1">
            <label for="operation_hours">Operational Hours</label>
            {{ form.operation_hours }}
        </div>
        <div class="form-group py-1">
            <label for="occupancy_percent">Percent Occupancy (Nearby spots for Street Parking)</label>
            {{ form.occupancy_percent }}
        </div>
        <div class="row py-4 justify-content-center">
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Create Spot</button>
          </div>
        </div>
      </form>
      <div style="color: red">{{ form.errors }}</div>
    </div>
  </div>
</div>
</div>
<script>
  document.getElementById("id_occupancy_percent").addEventListener("input", function () {
      if (!isNaN(this.value)) {
          const roundedValue = Math.round(this.value / 10) * 10;
          const adjustedValue = Math.max(0, Math.min(100, roundedValue));
          this.value = adjustedValue;
      }

  });
  document.getElementById("id_occupancy_percent").step = 10;
</script>
{%endblock%}