{% extends "parkrowd/main.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-center py-4">
    <div class="col-md-9">
      <h3 class="text-center">New Post</h3>
      <form method="post">
        {% csrf_token %}
        <!-- Currently unused
        <div class="form-group py-1">
          <label for="address_zip">Zip Code</label>
          {{ form.address_zip }}
        </div>
        -->
        <div class="form-group py-1">
          <label for="parking_spot_name">Spot Name</label>
          {{ form.parking_spot_name }}
        </div>
        <div class="form-group py-1">
          <label for="business_type">Type</label>
          <select name="business_type" id="business_type" class="form-control">
            <option value="" selected disabled>
              Select a Parking Space type...
            </option>
            <option value="Business">
              Business
            </option>
            <option value="Street">
              Street
            </option>
          </select>
        </div>
        <div class="form-group py-1">
          <label for="business_type">Borough</label>
          <select name="business_type" id="business_type" class="form-control">
            <option value="" selected disabled>
              Select a borough...
            </option>
            <option value="Manhattan">
              Manhattan
            </option>
            <option value="Brooklyn">
              Brooklyn
            </option>
            <option value="Queens">
              Queens
            </option>
            <option value="Bronx">
              Bronx
            </option>
            <option value="Staten Island">
              Staten Island
            </option>
          </select>
        </div>
        <div class="form-group py-1">
            <label for="details">Details</label>
            {{ form.details }}
        </div>
        <div class="form-group py-1">
            <label for="operation_hours">Operational Hours</label>
            {{ form.operation_hours }}
        </div>
        <div class="form-group py-1">
            <label for="occupancy_percent">Percent Occupancy (Nearby spots for Street Parking)</label>
            {{ form.occupancy_percent }}
        </div>
        <div class="row py-4 justify-content-center">
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Create Spot</button>
          </div>
        </div>
      </form>
      <div style="color: red">{{ form.errors }}</div>
    </div>
  </div>
</div>
</div>
{%endblock%}