<!-- @format -->

{% extends "parkrowd/main.html" %} {% block content %} {% block header %}
<style>
  #map,
  #filter-sliding-window {
    height: 95vh;
  }

  #filter-sliding-window {
    background-color: #fff;
    left: -25%;
    /* Initially hidden */
    width: 25%;
    transition: left 0.3s ease-in-out;
  }

  #filter-sliding-window.close-window {
    left: -25%;
  }

  #filter-sliding-window.open-window {
    left: 0;
  }

  #postSidebar {
    height: 95vh;
    background-color: #fff;
    width: 35%;
    transition: left 0.5s ease-in-out;
  }

  #postSidebar.close-window {
    left: -35%;
  }

  #postSidebar.open-window {
    left: 0;
  }
</style>
{% endblock %} {% block navbarEnd %} {% if request.user.is_authenticated %}
<button id="add-spot-btn" class="btn btn-dark btn-sm" style="margin-right: 15px">Add Spot</button>
{% endif %}
<button id="filter-window-open-btn" class="btn btn-info btn-sm" style="margin-right: 15px">
  Adjust Filter
</button>
<button id="load-parking-btn" class="btn btn-primary btn-sm">Load Parking Spots</button>
{% endblock %}

<div class="fixed-bottom">
  <div id="map"></div>
  <!-- Filter Sidebar -->
  <div id="filter-sliding-window" class="fixed-bottom close-window">
    <div class="d-flex justify-content-end">
      <button
        id="filter-window-close-btn"
        type="button"
        class="btn-close p-2"
        aria-label="Close"
      ></button>
    </div>
    <div class="container mt-4">
      <div class="container">
        <h3>Filters</h3>
        <hr />
      </div>
      <div class="container py-2">
        <!-- Occupancy Range Slider -->
        <div class="form-group">
          <div class="text-center">
            <label>Occupancy Percent Less Than or Equal to...</label>
          </div>
          <div class="slider-value text-center" id="occupancy-range-value">50</div>
          <div class="slider-container">
            <input
              type="range"
              class="form-range"
              min="0"
              max="100"
              step="10"
              value="50"
              data-value="50"
              id="occupancy-percent-slider"
            />
          </div>
        </div>
        <!-- END Occupancy Range Slider -->
        <!-- Occupancy Filter : Yes / No for ones without percentage -->
        <div class="form-group py-2">
          <label>Show Spots without Occupancy Data:</label>
          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary">
              <input
                type="radio"
                name="no-number"
                id="occupancy-data-yes"
                autocomplete="off"
                value="yes"
                checked="checked"
              />
              Yes
            </label>
            <label class="btn btn-secondary">
              <input
                type="radio"
                name="no-number"
                id="occupancy-data-no"
                autocomplete="off"
                value="no"
              />
              No
            </label>
          </div>
        </div>
        <!-- END Occupancy Filter : Yes / No for ones without percentage -->
        <hr />
        <div class="form-group py-2">
          <label>Parking Types:</label>
          <div class="btn-group-toggle" data-toggle="buttons">
            <!--Each input should have a "filter-checkbox" class for JS to apply filtering-->
            <!--Values for each input checkbox should be specified (match DB type)-->
            <label class="btn btn-secondary">
              <input
                class="filter-checkbox"
                type="checkbox"
                autocomplete="off"
                value="Business"
                checked
              />
              Business
            </label>
            <label class="btn btn-secondary">
              <input
                class="filter-checkbox"
                type="checkbox"
                autocomplete="off"
                value="Street"
                checked
              />
              Street
            </label>
            <label class="btn btn-secondary">
              <input
                class="filter-checkbox"
                type="checkbox"
                autocomplete="off"
                value="Private"
                checked
              />
              Private
            </label>
          </div>
        </div>
        <hr />
        <div class="form-group py-2">
          <label>Search by username: </label>
          <input
            type="text"
            class="form-control"
            id="search-by-user-input"
            name="search-by-user-input"
          />
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exact-search-checkbox"
              name="exact-search-checkbox"
            />
            <label class="form-check-label" for="exact-search-checkbox">Exact Search</label>
          </div>
        </div>
      </div>
      <div class="container">
        <hr />
        <div class="d-flex justify-content-end">
          <button id="apply-filter-btn" class="btn btn-primary">Apply Filter</button>
        </div>
      </div>
    </div>
    <!-- END Filter Sidebar -->
  </div>

  <!-- Post & Comment Sidebar -->
  <div id="postSidebar" class="fixed-bottom close-window">
    <div class="d-flex justify-content-end">
      <button
        type="button"
        aria-label="Close"
        class="btn-close p-2"
        id="postSidebarCloseBtn"
      ></button>
    </div>
    <div class="container mt-4">
      <div class="container">
        <h3 id="postSidebarHeader">Posts & Comments</h3>
        <hr />
      </div>
      <div class="container" id="postSidebarBody" style="max-height: 80vh; overflow-y: auto"></div>
    </div>
  </div>
  <!-- END Post & Comment Sidebar -->
</div>
<!-- Add Spot Modal Confirmation -->
<div
  class="modal fade"
  id="add-spot-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="add-spot-modal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-spot-title">Add Spot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Are you sure you want to add a spot here?</div>
      {% if user_verification.status != 'verified' %}
      <div class="modal-body">
        NOTE: Your business is not verified. You will only be able to create "Street" based parking
        only. Please contact an admin to verify your "Business" or "Private" lot.
      </div>
      {% endif %}
      <div class="modal-footer">
        <button type="submit" id="confirm-add-spot-btn" name="add-spot" class="btn btn-primary">
          Yes
        </button>
        <button
          type="button"
          id="cancel-add-spot-btn"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
  <!-- END Filter Sidebar -->

  <!-- Post & Comment Sidebar -->
  <div id="postSidebar" class="fixed-bottom close-window">
    <div class="d-flex justify-content-end">
      <button
        type="button"
        aria-label="Close"
        class="btn-close p-2"
        id="postSidebarCloseBtn"
      ></button>
    </div>
    <div class="container mt-4">
      <div class="container">
        <h3 id="postSidebarHeader">Posts & Comments</h3>
        <hr />
      </div>
      <div class="container" id="postSidebarBody"></div>
    </div>
  </div>
  <!-- END Post & Comment Sidebar -->
</div>
<!-- END Spot Modal Confirmation -->
<!-- Hidden Open Modal Button -->
<button
  id="open-add-spot-modal-btn"
  data-bs-toggle="modal"
  data-bs-target="#add-spot-modal"
  style="display: none"
></button>
<!-- END Hidden Open Modal Button -->
<script>
  let map;
  let infoWindow;
  let addSpotMarker;
  let userWatchOnSpots = {};

  const markers = [];
  const spotMap = {};
  const defaultWatchThreshold = 80;

  const addSpotBtn = document.getElementById("add-spot-btn");
  const addSpotModal = document.getElementById("add-spot-modal");
  const addSpotModalCloseBtn = document.querySelector("#add-spot-modal .btn-close");
  const cancelAddSpotBtn = document.getElementById("cancel-add-spot-btn");
  const confirmAddSpotBtn = document.getElementById("confirm-add-spot-btn");

  const postSidebar = document.getElementById("postSidebar");
  const loadParkingBtn = document.getElementById("load-parking-btn");
  const applyFilterBtn = document.getElementById("apply-filter-btn");
  const postSidebarBody = document.getElementById("postSidebarBody");
  const postSidebarHeader = document.getElementById("postSidebarHeader");
  const postSidebarCloseBtn = document.getElementById("postSidebarCloseBtn");
  const filterSlidingWindow = document.getElementById("filter-sliding-window");
  const filterWindowOpenBtn = document.getElementById("filter-window-open-btn");
  const filterWindowCloseBtn = document.getElementById("filter-window-close-btn");

  const occupancyRangeSlider = document.getElementById("occupancy-percent-slider");
  const occupancyRangeValue = document.getElementById("occupancy-range-value");
  const occupancyDataYes = document.getElementById("occupancy-data-yes");

  const searchByUserInput = document.getElementById("search-by-user-input");
  const exactSearchCheckbox = document.getElementById("exact-search-checkbox");

  const isUserAuthenticated = "{{user.is_authenticated}}" === "True" ? true : false;

  // #region Google Maps Callback
  /**
   * Callback Function for Google Maps API
   * after JS is loaded to page
   */
  async function initMap() {
    const tandon_lat = 40.69446042799896;
    const tandon_lon = -73.9864403526369;

    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: tandon_lat, lng: tandon_lon },
      zoom: 18,
      mapId: "{{ GOOGLE_MAP_ID }}",
    });
    infoWindow = new google.maps.InfoWindow({});

    //When Info Window has loaded completely, add an
    //Event Listener to the Occupancy Percent input field
    //to prevent user from putting invalid values
    //i.e. non-numerical, negative values, and values over 100
    infoWindow.addListener("domready", function (e) {
      const occupancyStatusInput = document.getElementById("occupancy-status-input");
      const availableSpacesInput = document.getElementById("available-vehicle-spaces-input");
      getPeakTime(infoWindow.marker.spot);
      if (occupancyStatusInput) {
        occupancyStatusInput.value =
          infoWindow.marker.pin.glyph !== null ? parseInt(infoWindow.marker.pin.glyph) : 0;

        occupancyStatusInput.addEventListener("input", function (e) {
          let enteredValue = parseInt(occupancyStatusInput.value);

          if (enteredValue < 0 || isNaN(enteredValue)) {
            e.target.value = 0;
          } else {
            e.target.value = __floorTo(10, enteredValue);
            if (enteredValue > 100) {
              e.target.value = 100;
            }
          }
        });
      } else if (availableSpacesInput) {
        availableSpacesInput.addEventListener("input", function (e) {
          const capacity = infoWindow.marker.spot.vehicle_spaces_capacity;
          let enteredValue = parseInt(availableSpacesInput.value);

          if (enteredValue < 0 || isNaN(enteredValue)) {
            e.target.value = 0;
          } else {
            if (enteredValue > capacity) {
              e.target.value = capacity;
            }
          }
        });
      }
    });

    //When dragging map, close Filter/PostSidebar Window
    google.maps.event.addListener(map, "drag", function () {
      closeFilterWindow();
      closePostSidebar();
    });
  }

  function __floorTo(multiple, value) {
    if (value >= 0 && value <= 9) {
      return value * 10;
    }
    return Math.floor(value / multiple) * multiple;
  }

  // #endregion Google Maps Callback

  // #region Marker
  /**
   * Add markers on map with click-to-view info window
   * @param {Object} ParkingSpot - reference ParkingSpaceSerializer in api/serializers.py
   */
  async function addMarker(spot) {
    // * handle invalid marker
    if (spot.parking_spot_id in spotMap) {
      console.error(`Spot ${JSON.stringify(spot)} has no valid parking_spot_id`);
      return;
    }
    //Keep track of Parking Spots on Map
    spotMap[spot.parking_spot_id] = spot;

    //Utility function to get custom AdvancedMarker with color
    let marker = await getMarkerByType(spot);

    //Keep track of all markers with an array
    markers.push(marker);

    google.maps.event.addListener(
      marker,
      "click",
      (function (marker, id) {
        return function () {
          const markerInfo = spot.type === "Business" ? getBusinessInfo(spot) : getStreetInfo(spot);

          infoWindow.setContent(markerInfo);
          infoWindow.open(map, marker);

          //Add marker dynamically as property for the Info Window
          //that shows when clicking on Marker on Map.
          //Used for quick access to glyph (map marker center dot) of Marker
          infoWindow.marker = marker;
        };
      })(marker, spot.parking_spot_id),
    );
    return marker;
  }

  function addSpot() {
    map.addListener("click", function (e) {
      placeMarker(e.latLng);
    });

    map.setOptions({ draggableCursor: "crosshair" });
  }

  function removeAddSpotMarker() {
    if (addSpotMarker) {
      addSpotMarker.setMap(null);
    }
  }

  async function placeMarker(latLng) {
    const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");
    removeAddSpotMarker();

    const pinBackground = new PinElement({
      scale: 1.25,
      background: "red",
      borderColor: "red",
      glyph: "New",
      glyphColor: "white",
    });

    addSpotMarker = new AdvancedMarkerElement({
      map,
      position: {
        lat: latLng.lat(),
        lng: latLng.lng(),
      },
      content: pinBackground.element,
    });

    // Disable target cursor (i.e. spot adding mode)
    map.setOptions({ draggableCursor: null });

    // Remove the click event listener
    google.maps.event.clearListeners(map, "click");

    const openAddSpotModalBtn = document.getElementById("open-add-spot-modal-btn");
    openAddSpotModalBtn.click();
    addSpotModal.classList.add("show");
  }

  /**
   * Helper function for addMarker()
   * Creates an AdvancedMarkerElement (custom color marker) based on type
   * @param {Object} ParkingSpot - reference ParkingSpaceSerializer in api/serializers.py
   * @returns {Object} AdvancedMarkerElement - see link below (Google Maps API)
   * https://developers.google.com/maps/documentation/javascript/advanced-markers/basic-customization
   */
  async function getMarkerByType(spot) {
    const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");

    const typeToColor = {
      Business: "black",
      Street: "indigo",
    };

    const color = typeToColor[spot.type];

    //Retrieve and process occupancy_percent from
    //backend to display percent on Marker
    const occupancy_percent =
      spot.occupancy_percent !== null ? String(spot.occupancy_percent) + "%" : null;

    const glyphColor = getGlyphColor(spot.occupancy_percent);

    const pinBackground = new PinElement({
      scale: 1.25,
      background: color,
      borderColor: color,
      glyph: occupancy_percent,
      glyphColor: glyphColor,
    });

    let marker = new AdvancedMarkerElement({
      map,
      position: {
        lat: parseFloat(spot.latitude),
        lng: parseFloat(spot.longitude),
      },
      content: pinBackground.element,
      title: spot.parking_spot_name,
    });
    //To identify a marker when filtering
    marker.type = spot.type;
    marker.occupancy_percent = spot.occupancy_percent;
    marker.username = spot.user?.username;
    //To get spot info easily
    marker.spot = spot;
    //To retrieve the glyph (map marker center dot) info
    marker.pin = pinBackground;
    return marker;
  }

  /**
   * Helper function for getMarkerByType()
   * Determines glyph color based on occupancy percent
   * Below 50% is lightgreen, Above 50% is lightcoral (red), Otherwise, white dot
   * @param {Number} occupancy_percent - Number from 0 to 100
   * @returns {string} color - glyph color
   */
  function getGlyphColor(occupancy_percent) {
    const glyphColor =
      occupancy_percent === null ? "white" : occupancy_percent >= 50 ? "lightcoral" : "lightgreen";
    return glyphColor;
  }

  /**
   * Helper function for addMarker()
   * Sets up HTML info for business based markers (format different from other spots)
   * @param {Object} ParkingSpot - reference ParkingSpaceSerializer in api/serializers.py
   * @returns {string} HTML content - info on Business parking spot
   */
  function getBusinessInfo(spot) {
    const spotId = spot.parking_spot_id;

    return (
      '<div class="d-flex flex-column text-center p-2">' +
      getParkingSpotNameHTML(spot) +
      `<div class="mb-3">ID: ${spotId}</div>` +
      getOccupancyPercentHTML(spot) +
      getOwner(spot) +
      getTypeHTML(spot) +
      // getBoroughHTML(spot) +
      getDetailsHTML(spot) +
      getOperationalHoursHTML(spot) +
      '<div class="mb-3" id="peak-time"></div>' +
      getMakePostHTML(spotId) +
      getViewPostHTML(spotId) +
      getClaimBusinessHTML(spot) +
      "</div>"
    );
  }

  function getClaimBusinessHTML(spot) {
    if (!spot.user?.username) {
      return `<div class="mb-3">
        This business has not yet been claimed.
      </div>
      <div class="mb-3">
        Reach out to an admin with this Parking Space's ID.
      </div>
      `;
    }
    return (
      "<div class='w-75 mx-auto p-2'><button class='btn btn-outline-primary btn-sm' onClick=\"window.location.href='/users/profile/" +
      spot.user.username +
      "'\">View Business</button></div>"
    );
  }

  /**
   * Helper function for getMarkerByType()
   * Determines glyph color based on occupancy percent
   * Below 50% is lightgreen, Above 50% is lightcoral (red), Otherwise, white dot
   * @param {Number} occupancy_percent - Number from 0 to 100
   * @returns {string} color - glyph color
   */
  function getGlyphColor(occupancy_percent) {
    const glyphColor =
      occupancy_percent === null ? "white" : occupancy_percent >= 50 ? "lightcoral" : "lightgreen";
    return glyphColor;
  }

  function getParkingSpotNameHTML(spot) {
    let parking_spot_name;

    if (!spot.parking_spot_name) {
      parking_spot_name = "Street Parking";
    } else {
      parking_spot_name = spot.parking_spot_name;
    }
    return (
      '<div class="mb-3">' +
      '<h1 class="h3 mb-1">' +
      parking_spot_name +
      "</h1>" +
      (userWatchOnSpots[spot.parking_spot_id]
        ? `<button type="button" class="btn btn-outline-info" onclick="toggleWatchOnSpot('${spot.parking_spot_id}')"><i class="bi bi-bookmark-fill" id="watch-mark-${spot.parking_spot_id}"></i></button>`
        : `<button type="button" class="btn btn-outline-info" onclick="toggleWatchOnSpot('${spot.parking_spot_id}')"><i class="bi bi-bookmark" id="watch-mark-${spot.parking_spot_id}"></i></button>`) +
      "</div>"
    );
  }

  function getTypeHTML(spot) {
    if (spot.type) {
      return '<div class="mb-3">Type: ' + spot.type + "</div>";
    }
    return "";
  }

  // function getBoroughHTML(spot) {
  //   if (spot.borough) {
  //     return '<div class="mb-3">Borough: ' + spot.borough + "</div>";
  //   }
  //   return "";
  // }

  function getDetailsHTML(spot) {
    if (spot.detail) {
      return '<div class="mb-3">Details: ' + spot.detail + "</div>";
    }
    return "";
  }

  function getVehicleSpacesCapacityHTML(spot) {
    if (spot.vehicle_spaces_capacity) {
      return (
        '<div class="mb-3">Vehicle spaces capacity: ' + spot.vehicle_spaces_capacity + "</div>"
      );
    }
    return "";
  }

  function getOperationalHoursHTML(spot) {
    if (spot.operation_hours) {
      return '<div class="mb-3">Operational Hours: ' + spot.operation_hours + "</div>";
    }
    return "";
  }

  /*
   * Sets up HTML info for street based markers (format different from other spots)
   * @param {Object} ParkingSpot - reference ParkingSpaceSerializer in api/serializers.py
   * @returns {string} HTML content - info on Street parking spot
   */

  function getStreetInfo(spot) {
    const spotId = spot.parking_spot_id;
    const hours = spot.operation_hours !== null ? spot.operation_hours : "N/A";

    if (spot.type === "Private") {
      return `<div class="d-flex flex-column text-center p-2">
      ${getParkingSpotNameHTML(spot)}
      <div class="mb-3">ID: ${spotId}</div>
      ${getOccupancyPercentHTML(spot)}
      ${getLatestUpdatedBy(spot)}
      ${getOwner(spot)}
      ${getTypeHTML(spot)}
      ${getVehicleSpacesCapacityHTML(spot)}
      ${getDetailsHTML(spot)}
      ${getOperationalHoursHTML(spot)}
      <div class="mb-3" id="peak-time"></div>
      ${getMakePostHTML(spotId)}
      ${getViewPostHTML(spotId)}
    </div>`;
    }
    return `<div class="d-flex flex-column text-center p-2">
      ${getParkingSpotNameHTML(spot)}
      <div class="mb-3">ID: ${spotId}</div>
      ${getOccupancyPercentHTML(spot)}
      ${getLatestUpdatedBy(spot)}
      ${getOwner(spot)}
      ${getTypeHTML(spot)}
      ${getDetailsHTML(spot)}
      ${getOperationalHoursHTML(spot)}
      <div class="mb-3" id="peak-time"></div>
      ${getMakePostHTML(spotId)}
      ${getViewPostHTML(spotId)}
    </div>`;
  }

  function getPeakTime(spot) {
    axios
      .get(`/map/peak-time/${spot.parking_spot_id}`)
      .then((response) => {
        document.getElementById("peak-time").innerHTML = "Peak Time: " + response.data.peak_time;
      })
      .catch((error) => {
        console.error("Error:", error);
        document.getElementById("peak-time").innerHTML = "Error retrieving data.";
      });
  }

  function getOwner(spot) {
    if (spot.user?.username) {
      return `<div class="mb-3">Owner: ${spot.user.username}</div>`;
    }
    return "";
  }

  /**
   * Helper function for getBusinessInfo() and getStreetInfo()
   * Conditionally hides "Make Post" button if user is not logged in
   * @param {string} spotId - ParkingSpace PK : parking_spot_id field
   * @returns {string} HTML content - "Make Post" button OR nothing
   */
  function getMakePostHTML(spotId) {
    const makePostURL = `/map/post/${spotId}`;

    if (isUserAuthenticated) {
      return `<div class="w-75 mx-auto p-2">
              <button class="btn btn-outline-primary btn-sm" onclick="makePost('${makePostURL}')">
                  Make Post
              </button>
        </div>`;
    }
    return "";
  }

  function getViewPostHTML(spotId) {
    return `<div class="w-75 mx-auto p-2">
      <button class="btn btn-outline-primary btn-sm" onclick="viewPost('${spotId}')">
          View Posts
      </button>
    </div>`;
  }

  function createCommentHTMLList(comments) {
    comments = comments.sort((a, b) => (new Date(a.created_at) > new Date(b.created_at) ? -1 : 1));
    return `<ul class="list-group list-group-flush">
      ${comments.reduce(
        (prev, cur) =>
          prev +
          `<li class="list-group-item">
            ${cur.content}
            <div class="text-end">--by <a href="/users/profile/${cur.author?.username}">${
            cur.author?.username || "unknown user"
          }</a> at ${new Date(cur.created_at).toLocaleString()}</div>
          </li>`,
        "",
      )}
    </ul>`;
  }

  function viewPost(spotId) {
    const spot = spotMap[spotId];
    postSidebarBody.innerHTML = `<div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>`;
    openPostSidebar();

    axios.get(`/api/spot/posts/${spotId}`).then((res) => {
      const posts = res.data.sort((a, b) =>
        new Date(a.created_at) > new Date(b.created_at) ? -1 : 1,
      );
      const newPostSidebarBody = posts.reduce(
        (prev, cur) =>
          prev +
          `<div class="card mb-5">
        <div class="card-body">
          <h4 class="card-title">${cur.title || "No title"}</h4>
          <div class="card-text">
            ${cur.post || "Empty post"}
            <div class="text-end">
              -- by <a href="/users/profile/${cur.author?.username}">${
            cur.author?.username || "unknown user"
          }</a> at ${new Date(cur.created_at).toLocaleString()}
            </div>
          </div>
        </div>
        ${createCommentHTMLList(cur.comments)}
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-end">
            <button class="btn btn-primary btn-sm" onClick="addComment('${
              cur.id
            }')">Add Comment</button>
            <div class="mb-3 text-start" style="display:none" id="commentInputDiv-${cur.id}">
              <label class="form-label">New Comment</label>
              <textarea class="form-control" id="commentInput-${
                cur.id
              }" rows="3" required></textarea>
              <div class="text-end mt-2">
                <button type="submit" class="btn btn-outline-primary" onClick="submitComment('${
                  cur.id
                }', '${spotId}')">Submit</button>
              </div>
            </div>
            <div class="mt-2 text-start" id="errorMsg-${cur.id}"/>
          </li>
        </ul>
      </div>`,
        "",
      );

      postSidebarBody.innerHTML = newPostSidebarBody;
    });
  }

  function addComment(postId) {
    document.getElementById(`commentInputDiv-${postId}`).style.display = "block";
  }

  function submitComment(postId, spotId) {
    axios
      .post(
        `/api/spot/posts/add-comment/${postId}/`,
        {
          commentContent: document.getElementById(`commentInput-${postId}`).value,
        },
        {
          headers: {
            "X-CSRFToken": getCSRFToken(),
          },
        },
      )
      .then((res) => {
        viewPost(spotId);
      })
      .catch((err) => {
        console.error(err);
        const errorMsgDiv = document.getElementById(`errorMsg-${postId}`);
        if (errorMsgDiv)
          errorMsgDiv.innerHTML = `<span style="color:red">${err.response.data}</span>`;
      });
  }

  function openPostSidebar() {
    postSidebar.classList.add("show-window");
    postSidebar.classList.remove("close-window");
  }

  function closePostSidebar() {
    postSidebar.classList.remove("show-window");
    postSidebar.classList.add("close-window");
  }

  /**
   * Helper function for getBusinessInfo() and getStreetInfo()
   * Creates the HTML for allowing user to change Occupancy Percent of Spot
   * @param {Object} ParkingSpot - reference ParkingSpaceSerializer in api/serializers.py
   * @returns {string} HTML content - Occupancy Percent Input Field and Button OR nothing
   */
  function getOccupancyPercentHTML(spot) {
    const loggedInUser = "{{ request.user.username }}";
    const userIsOwnerOfBusiness = spot.user?.username === loggedInUser;

    if (
      (spot.type === "Street" ||
        ((spot.type === "Business" || spot.type === "Private") && userIsOwnerOfBusiness)) &&
      isUserAuthenticated
    ) {
      if (spot.type === "Private") {
        return (
          '<div class="form-group mb-3">' +
          '<label for="occupancy-status">Available Vehicle Spaces:</label>' +
          `<input type="number" class="form-control" id="available-vehicle-spaces-input" name="available-vehicle-spaces" value="${spot.available_vehicle_spaces}" min="0" max="${spot.vehicle_spaces_capacity}" step="1">` +
          `<button type="submit" class="btn btn-primary btn-sm" onclick="submitOccupancy('${spot.parking_spot_id}', '${spot.type}', '${spot.vehicle_spaces_capacity}')">Submit</button>` +
          "</div>"
        );
      }
      return (
        '<div class="form-group mb-3">' +
        '<label for="occupancy-status">Occupancy Percent:</label>' +
        '<input type="number" class="form-control" id="occupancy-status-input" name="occupancy-status" min="0" max="100" step="10">' +
        `<button type="submit" class="btn btn-primary btn-sm" onclick="submitOccupancy('${spot.parking_spot_id}', '${spot.type}', '${spot.vehicle_spaces_capacity}')">Submit</button>` +
        "</div>"
      );
    }
    return "";
  }

  /**
   * Helper function for getStreetInfo() (Currently not for getBusinessInfo as)
   * Queries the OccupancyHistory table for the most recent occupancy update
   * Returns the username of the user who performed said update
   * @param {Object} ParkingSpace - reference spot param in getStreetInfo()
   * @returns {string} String - username of user who updated the occupancy of the given spot most recently or "None"
   */
  function getLatestUpdatedBy(spot) {
    occupancy_history = spot.occupancy_history;

    returnHTML = `<div class="mb-3">Last Updated By: `;
    if (occupancy_history.length > 0) {
      // Get the user information of the final entry
      last_user = occupancy_history[occupancy_history.length - 1].user;
      console.log(last_user);
      // Not needed: const loggedInUser = "{{ request.user.username }}";
      // don't think this works: const isAuthorVerified = "{{last_user.is_authenticated}}" === "True" ? true : false;

      returnHTML += `<a href="/users/profile/${last_user.username}">${last_user.username}</a>`;
      const isHistoryUserVerified = last_user.verification.filter(
        (ele) => ele.status === "verified" && ele.business_type === "Street Business Owner",
      )[0];
      if (spot.type === "Street" && isHistoryUserVerified) {
        returnHTML +=
          "<img src=/static/Badges/VerifiedRetailerBadge.JPG alt='VerifiedUser' width=20 height=20>";
      }
      returnHTML += "</div>";
    } else {
      returnHTML += "None</div>";
    }
    return returnHTML;
  }

  /**
   * Onclick function for Occupancy Percent Submit Button
   * Parses current value in Input Field and makes POST API call to change
   * on backend.
   * @param {string} spotId - ParkingSpace PK : parking_spot_id field
   */
  function submitOccupancy(spotId, type, vehicle_spaces_capacity) {
    if (type === "Private") {
      const availableSpacesInput = document.getElementById("available-vehicle-spaces-input");
      var occupancy_percent =
        Math.round(
          10 * (1 - parseInt(availableSpacesInput.value) / parseInt(vehicle_spaces_capacity)),
        ) * 10;

      //See ParkingSpaceChangeOccupancyAPIView in api/views.py
      //for API endpoint
      var formData = {
        percent: occupancy_percent,
        id: spotId,
        available_vehicle_spaces: availableSpacesInput.value,
      };
    } else {
      const occupancyStatusInput = document.getElementById("occupancy-status-input");
      var occupancy_percent = parseInt(occupancyStatusInput.value);

      //See ParkingSpaceChangeOccupancyAPIView in api/views.py
      //for API endpoint
      var formData = {
        percent: occupancy_percent,
        id: spotId,
      };
    }

    axios
      .post(`/api/spot/occupancy/`, formData, {
        headers: {
          "X-CSRFToken": getCSRFToken(),
        },
      })
      .then(function (response) {
        const glyphColor = getGlyphColor(occupancy_percent);

        infoWindow.marker.pin.glyph = occupancy_percent + "%";
        infoWindow.marker.pin.glyphColor = glyphColor;
      })
      .catch(function (error) {
        console.log(error);
      });
  }

  /**
   * Retrieves CSRF token
   * @returns {string} cookieValue - CSRF cookie value
   */
  function getCSRFToken() {
    const cookieValue = document.cookie
      .split("; ")
      .find((row) => row.startsWith("csrftoken="))
      .split("=")[1];

    return cookieValue;
  }

  /*
   * Redirects to make post page, when user clicks on
   * button inside info window of parking spot on map
   * @param {string} url - redirect url specified (see addMarker function)
   */
  function makePost(url) {
    window.location.href = url;
  }
  // #endregion Marker

  // #region filter
  /**
   * Applies filter based on input fields (with class "filter-checkbox")
   * that are selected
   */
  function applyFilter() {
    //Finds all checkboxes with class "filter-checkbox"
    //and creates and array with the names of checkboxes selected
    const checkboxes = document.querySelectorAll(".filter-checkbox");
    const selectedFilters = Array.from(checkboxes)
      .filter((checkbox) => checkbox.checked)
      .map((checkbox) => checkbox.value);

    const maxOccupancyPercent = occupancyRangeSlider.value;
    const isSpotsWithoutOccupancyYes = occupancyDataYes.checked;
    const exactSearchChecked = exactSearchCheckbox.checked;
    const userToSearch = searchByUserInput.value.trim().toLowerCase();
    //Iterates through all markers and properly
    //sets the 'map' property accordingly
    markers.forEach((marker) => {
      const includesType = selectedFilters.includes(marker.type);
      const isOccupancyNull = marker.occupancy_percent == null;
      const belowMaxOccupancy = !isOccupancyNull && marker.occupancy_percent <= maxOccupancyPercent;
      const createdByUser =
        userToSearch === ""
          ? true
          : exactSearchChecked
          ? marker.username === userToSearch
          : marker.username?.includes(userToSearch);
      if (
        includesType &&
        (belowMaxOccupancy || (isSpotsWithoutOccupancyYes && isOccupancyNull)) &&
        createdByUser
      ) {
        marker.map = map;
      } else {
        marker.map = null;
      }
    });
  }

  /**
   * Closes Filter Window by adjusting CSS class
   */
  function openFilterWindow() {
    filterSlidingWindow.classList.add("open-window");
    filterSlidingWindow.classList.remove("close-window");
  }

  /**
   * Opens Filter Window by adjusting CSS class
   */
  function closeFilterWindow() {
    filterSlidingWindow.classList.add("close-window");
    filterSlidingWindow.classList.remove("open-window");
  }

  // #endregion filter

  // #region setup & evt listeners

  function toggleWatchOnSpot(spotId) {
    const isWatching = userWatchOnSpots[spotId] !== undefined;
    axios
      .post(
        `/api/spot/${isWatching ? "remove" : "add"}-watch-on-spot/`,
        {
          parking_spot_id: spotId,
          threshold: defaultWatchThreshold,
        },
        {
          headers: {
            "X-CSRFToken": getCSRFToken(),
          },
        },
      )
      .then((res) => {
        if (res.status === 200) {
          if (isWatching) delete userWatchOnSpots[spotId];
          else userWatchOnSpots[spotId] = defaultWatchThreshold;
          document
            .getElementById(`watch-mark-${spotId}`)
            .classList.replace(
              isWatching ? "bi-bookmark-fill" : "bi-bookmark",
              isWatching ? "bi-bookmark" : "bi-bookmark-fill",
            );
        }
      });
  }

  /**
   * Retrieve Parking Spots around center of map
   * via an API endpoint with lat and lon as query parameters
   * Sets markers for spots found within certain distance
   * around center - reference api/views.py __is_within_dist method
   */
  function fetchParkingSpotAroundCenter() {
    const center = map.getCenter();
    const lat = center.lat();
    const lng = center.lng();
    axios
      .get("/api/spot/watches-on-spots/")
      .then((res) => {
        userWatchOnSpots = res.data.reduce((prev, cur) => {
          prev[cur.parking_space] = cur.threshold;
          return prev;
        }, {});
        axios
          .get(`/api/spots/?lat=${lat}&lon=${lng}`)
          .then(function (response) {
            const spotsData = response.data;
            spotsData.forEach((spot) => {
              addMarker(spot);
            });
          })
          .catch(function (error) {
            console.error(error);
          });
      })
      .catch((err) => console.error(err));
  }

  function updateRangeValue() {
    let value = occupancyRangeSlider.value;
    occupancyRangeValue.textContent = value;
    occupancyRangeSlider.setAttribute("data-value", value);
  }

  async function fetchParkingSpotAroundOneParkingSpot() {
    axios
      .get(`/api/spots/?lat={{spot.latitude}}&lon={{spot.longitude}}`)
      .then(async function (response) {
        const spotsData = response.data;
        for (const spot of spotsData) {
          let marker = await addMarker(spot);
          if (spot.parking_spot_id === "{{spot.parking_spot_id}}") {
            google.maps.event.trigger(marker, "click");
            viewPost("{{spot.parking_spot_id}}");
          }
        }
      })
      .catch(function (error) {
        console.log(error);
      });
  }

  /**
   * Sets up the following on webpage, on load
   *      Add click event listener to "Load Parking Spots" button
   *      Add click event listener to "Adjust Filter" button
   *      Add click event listener to "Close (X)" button
   */
  function setup() {
    //Clicking on "Load Parking Spots" will fetch parking spots around
    //map center
    loadParkingBtn.addEventListener("click", function (e) {
      fetchParkingSpotAroundCenter();
    });

    //Clicking on "Adjust Filter" button will open Filter window
    filterWindowOpenBtn.addEventListener("click", function (e) {
      openFilterWindow();
    });

    //Clicking on "Close (X)" button will close Filter Window
    filterWindowCloseBtn.addEventListener("click", function (e) {
      closeFilterWindow();
    });

    applyFilterBtn.addEventListener("click", function (e) {
      applyFilter();
    });

    postSidebarCloseBtn.addEventListener("click", function (e) {
      closePostSidebar();
    });

    addSpotBtn?.addEventListener("click", function (e) {
      addSpot();
    });

    addSpotModal.addEventListener("click", function (e) {
      removeAddSpotMarker();
    });

    addSpotModalCloseBtn.addEventListener("click", function (e) {
      removeAddSpotMarker();
    });

    cancelAddSpotBtn.addEventListener("click", function (e) {
      removeAddSpotMarker();
    });

    confirmAddSpotBtn.addEventListener("click", function (e) {
      // Redirect to the "Add Spot" page
      const lat = addSpotMarker.position.lat;
      const lon = addSpotMarker.position.lng;
      window.location.href = `/map/parking/add-spot/?lat=${lat}&lon=${lon}`;
    });

    occupancyRangeSlider.addEventListener("input", function () {
      updateRangeValue();
    });

    // Initial update
    updateRangeValue();
  }

  // setup event listners
  setup();

  if ("{{recenter_after_post}}" === "True" ? true : false) {
    window.history.pushState({}, '', '/map/parking/');
    fetchParkingSpotAroundOneParkingSpot();
  }

  // #endregion setup & evt listners
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap"
></script>
{% endblock %}
