{% extends "parkrowd/main.html" %}


{% block content %}
<div id="map" style="height: 400px; width: 100%;"></div>
<script>
    let map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 40.69446042799896, lng: -73.9864403526369},
            zoom: 18
        });
        var infowindow =  new google.maps.InfoWindow({});
        var parkings = [
            {% for obj in parking_space %}
                {
                    name: '{{ obj.business_name }}',
                    latitude: parseFloat({{obj.latitude}}),
                    longitude: parseFloat({{obj.longitude}}),
                    // Add more fields as needed
                },
            {% endfor %}
        ];
        var marker;
        for (var i = 0; i < parkings.length; i++) {
            marker = new google.maps.Marker({
            position: {lat:parkings[i].latitude, lng:parkings[i].longitude},
            map: map,
            title: parkings[i].name
            });
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                infowindow.setContent(parkings[i].name);
                infowindow.open(map, marker);
                }
                })(marker, i));
        }
    }
   
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap"></script>
{% endblock %}